body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #e67e22;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 60px;
    height: auto;
    margin-right: 15px;
  }
  
  .header-text {
    text-align: left;
  }
  
  h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-top: 5px;
  }
  
  section {
    margin: 20px auto;
    padding: 15px;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 15px;
    color: black;
  }
  
  ul, ol {
    text-align: left;
    display: inline-block;
    padding: 15px;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: black;
  }
  
  img {
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
  }
  
  h2, {
    color: red;
  }
  
   h3 {
    color: red;
  }
  
  h3 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  
  footer {
    background: #e67e22;
    color: white;
    padding: 15px;
    font-size: 1rem;
    margin-top: 30px;
  }
  